body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  height: 300px;
  width: 600px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

#loginContainer,
#extensionContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 18px;
  color: #34495e;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

button {
  padding: 12px;
  background-color: #2980b9;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
  background-color: #1f618d;
}

/* Make the extension container a flexbox */
#extensionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Specific styles for the sign button */
#sign {
  background-color: #27ae60; /* Green */
  flex: 1;
  margin-right: 10px;
}

#sign:hover {
  background-color: #219150;
}

/* Specific styles for the signOut button */
#signOut {
  background-color: #e74c3c; /* Red */
  flex: 1;
  margin-left: 10px;
}

#signOut:hover {
  background-color: #c0392b;
}

/* Hide elements with the hidden class */
.hidden {
  display: none !important;
}

/* Style for the public key display */
#publicKeyDisplay {
  font-size: 16px;
  color: #2c3e50;
  margin-bottom: 20px;
  word-break: break-all; /* Ensure long keys wrap to the next line */
}
